.progressbar-wrapper {
  width: 500px;
  background-color: #fff;

}

#progressbar {
  background: repeating-linear-gradient(
    45deg,
    #93bf66,
    #93bf66 10px,
    #81b44c 10px,
    #81b44c 20px
  );
  height: 30px;
  animation: increase-width 5.5s;
  animation-timing-function: linear;

}

@keyframes increase-width {
  0% {
    width: 0%;

  }
  33% {
    width: 23%;

  }
  66% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
}

#percent-text {
  color: #fff;
  position: relative;
  top: 6px;
  left: 6px;
}
